---
import Layout from "../layouts/Layout.astro";
---

<Layout title="RaulBarberShop">
  <main>
    <h1 class="text-center text-white text-7xl mt-3 font-medium">RaulBarberShop</h1>
  </main>
</Layout>

<style></style>
